.reg_form{
    color: #ffffff; 
    font-family: 'Lato', sans-serif; 
    font-size: 27px; 
    font-weight: 300; 
    line-height: 58px;
    text-align: center;
    margin:auto;
    padding: auto;
    position:relative;
    width:25%;
}



.form-group{
    padding:15px;
}

.btn{
    font-size: 45px;
    padding:2px;
    margin:5px;
    background-color:wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(51, 45, 45);
    width:250px;
}


body{
    height:100%;
    background: url('homebg.jpg') no-repeat center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.head{
    font-size: 60px;
    color: coral;
    padding-top: 100px;
}


  
hr{
    border: 1px solid gray;
}

.homebtns{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    text-align: center;
    height: 300px;
    margin-top: 10%;
    position: relative;
}

#login, #register, #logout {
    width: 300px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.head.welcome{
    font-size: 80px;
    position:relative;
    padding-bottom: 5%;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}


.log_reg{
    display: inline-block;
}


#info{
    position:relative;
    text-align: center;
}

.chatroom{
    text-align: center;
}


.formMsg{
    right: 57%;
    margin-top: 10%;
    margin-left:60%;
    text-align: center;
    position: relative;           
    
}

.dispMsg{
    background-color:black;
    padding-left: 50px;
    margin-right: 5%;
    margin-left:50%;
    text-align: left;
    position: relative;
    top:-300px;
    /* overflow: scroll; */
    border:1px solid cadetblue;
}


#box {
    justify-content: left;
    color: white;
    /* height: 500px; */
    font-family: 'Raleway';
    font-size: 25px;
    
  }
  .gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  
.btnEndRoom{
    background-color: rgb(238, 77, 77);
    font-size: 16px;
    position:relative;
}

::-webkit-scrollbar {
    display: none;
}



#enter, #endButton, #video{
    font-size: 20px;
    padding:10px;
    width: 110px;
}