{% extends 'base.html' %}

{% block title %}
{{id}}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <h4 style = 'color:bisque'>{{msg}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div  class = 'homebtns'>
<form method = 'POST'>
    
    <a href = '#'>
        <button type="submit" value = 'join' formmethod = 'POST' name = 'join' class="btn btn-success">Join Chatroom</button>
    </a>
    
    <a href = '#'>
        <button type="submit" value = 'create' formmethod = 'POST' name = 'create' class="btn btn-success">Create a Chatroom</button>
    </a>
</form>
</div>

{% endblock %}