{% extends 'base.html' %}

{% block title %}
{{id}}
{% endblock %}

{% block content %}
<form method = 'POST' class = 'chatroom'>
    
    <input type="text" name = 'userEnteredId' class="form-control" id="userEnteredId" placeholder="Enter RoomID" style = 'visibility:visible; width: 25%'>
    <a href = '#'>
        <button type="submit" value = 'join' formmethod = 'POST' name = 'join' class="btn btn-success">Join Chatroom</button>
    </a>
    
    <a href = '#'>
        <button type="submit" value = 'create' formmethod = 'POST' name = 'create' class="btn btn-success">Create Chatroom</button>
    </a>
</form>
{% endblock %}