{% extends 'base.html' %}

{% block title %}
{{id}}
{% endblock %}

{% block content %}
<form method = 'POST' class = 'chatroom'>
    
    <input type="text" name = 'userEnteredId' class="form-control" id="userEnteredId" placeholder="Enter RoomID" style = 'width: 250px'>
    <input type="text" name = 'userEnteredHost' class="form-control" id="userEnteredId" placeholder="Enter Host Name" style = 'width: 250px'>
    <a href = '#'>
        <button type="submit" value = 'join' formmethod = 'POST' name = 'join' class="btn btn-success">Join Chatroom</button>
    </a>
    
    <a href = '#'>
        <button type="submit" value = 'create' formmethod = 'POST' name = 'create' class="btn btn-success">Create Chatroom</button>
    </a>
</form>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <h4 style = 'color:bisque'>{{msg}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}