{% extends 'base.html' %}

{% block title %}
{{pagetitle}}
{% endblock %}

{% block content %}


<form action = '#' method = 'post' class = 'reg_form'>
    <h1 class = 'head'>{{head}}</h1>
    <hr></hr>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name = 'username' class="form-control" id="username" placeholder="Enter username">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>!-->
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name = 'password' class="form-control" id="password" placeholder="Password">
    </div>
    <h5>{{user_status}}</h5>
    <button formmethod="POST" id='submit' type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}