{% extends 'base.html' %}

{% block head %}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block title %}
room#{{id}}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <h4 style = 'color:bisque'>{{msg}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
<br>
<br>
<form action= "#" method = "POST">
    <div class="formMsg">
        <label for="typeMsg" style = 'color:bisque; size:5px;'>Enter your message:</label>
        <hr class = 'roomLine'></hr>
        <input id="typeMsg" name = "typeMsg"></input>
        <br>
        <input class="submitMsg btn-primary" type="submit" value="Enter" id = "enter" name = 'enter'></input>
    </div>
    
    <div class = 'dispMsg' style = 'color:azure'>
        <p></p>
    </div>
</form>    
{% endblock %}
